---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h1 class="page-title">{{ tag.name }}</h1>
{% if tag.description %}
  {% comment %}
    Adding the "message" class to the last (and usually only) paragraph of the description.
  {% endcomment %}
  {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
  {{ desc | markdownify }}
{% endif %}
<hr/>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul><hr/>{% endunless %}
      <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h4>
        <a href="{{ post.url | prepend:site.baseurl }}">
          <span>{{ post.title }}</span>
          <small>{{ post.date | date: "%m/%d" }}</small>
        </a>
      </h4>
    </li>
    {% if forloop.last %}</ul><hr/>{% endif %}
  {% endfor %}
{% else %}
    <p>There are no posts for this tag.</p>
{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79430467-1', 'auto');
  ga('send', 'pageview');

</script>